@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;1,500;1,600&display=swap');
/*hadchi li lfo9 imports mn google fonts wblays khrin mhm*/
*{
    margin:0;
    padding: 0;
  

}
/*hna kn9ol mn wahd titurial bd n7zt link ila ma nsitch */
body{
    font-family: 'Barlow', sans-serif;
}
html{
    scroll-behavior: smooth;

}
a,.btn{
    transition: all 300ms ease;

}
/*hna salit n9il ghnbda nb3ed mn titu bach ikon hadch unique chwia */
.navbar{
    display:flex;
    padding: 25px;
    justify-content: space-between;
    color: aliceblue;
    margin-top: 25px;
   
}
.links li a {
    text-decoration: none;
    margin: 10px 10px;
    color: #f7d09e;
    
}
.links ul {
    display: flex;
    list-style: none;
    padding-top: 12px;
    margin-right: 10px;
  
  
}

 
.container{
  
    background: rgba( 13, 12, 12, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 17vh;
 
}
.slogo h1{
    margin: auto;
    margin-left: 10px;
}
.slogo span{
    color: #f1a746;
}

/*
#icon{
display: inline-block;
left:900px;
width: 750px;

}
.hero{
display: inline-block;
position: relative;
top: 20px;
width: 250px;
height:300px;
background-color: #f1a746;
}
/*hhhhh wahed lenu hm9a yarbe tsde9*/
/*hamburger-menu*/
#hamburger-nav{
    display: none;
}
.hamburger-menue{
    position: relative;
    display: inline-block;

}
.hamburger-icon{
    display: flex;
    flex-direction: column;
justify-content: space-between;
height: 24px;
width: 30px;
cursor: default;
}
.hamburger-links{
    list-style: none;
    text-decoration: none;
}
.hamburger-links a{
   color: black;
    text-decoration: none;
}
.hamburger-links a:hover{
   color: #f1a746;
}